.section1 a{
    color: grey;
}

.section1 {
    background-color: #E9ECEF;
}

.section2 h3 {
    margin-bottom: 20px;
}

.section2 .points p {
    margin: 3px 0;
    font-size: 20px;
} 

.section2 .bottomPara {
    margin-top: 15px;
}